{% extends "dlBench/base.html" %}
{% block content %}
    <div class="jumbotron mt-3 bg-white shadow-lg">
   Hello there!
   <br><br>
   GTDLBench aims at introducing a hybrid benchmark to systematically measure the performance of the various deep learning frameworks as well as the performance of different hardware devices. 
   <br><br>
   For details please visit: <a href="https://git-disl.github.io/GTDLBench/">GTDLBench</a>
   <br><br>
   <h5>GTModelZoo</h5>
   In this portal you could submit a project and browse through projects by your peers. 
   <br><br>
   To submit a project, you need to sign up. This will allow you to create, update and delete your projects.
   <br><br>
   Few guidelines: <br>
   <ul>
   	<li>If you have multiple framework(TensorFlow, pyTorch, Caffee etc) implementations for the same task, you could submit them as individual projects or submit the framework with the best performance.</li>
   	<br><li>
   	Each section of the project submission has a description field.Although it is optional, please provide as much accurate and detailed information as possible. This will help the community to learn.</li>
   	</ul>
   	</div>
{% endblock content %}
